name: Deploy Reusable Workflows
on:
  workflow_call:

jobs:
  version:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-release.yml@main
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    secrets: inherit
    with:
      create-branch: true
      release-config-content: |
        {
          "branches": [
            {name: 'main'},
            {name: 'next', "channel": "@next", prerelease: true}
          ],
          "tagFormat": "v${version}",
          "plugins": [
            ["@semantic-release/commit-analyzer", {"preset": "conventionalcommits"}],
            ["@semantic-release/exec", {"prepareCmd": "echo ${nextRelease.version} >> version.txt"}],
            "@semantic-release/release-notes-generator",
            "@semantic-release/git",
            "@semantic-release/github",
          ],
        }


  build:
    needs: version
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-docker-build.yml@main
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      metadata_tags: |
        type=raw,value=${{ needs.version.outputs.version }}
  release:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-commit-app.yml@main
    needs: [build, version]
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
      id-token: write
    with:
      repository: Invasor-de-Fronteiras/kelbi-applications
      app-content: |
        spec:
          source:
            valuesObject:
              image: ghcr.io/${{ github.repository }}:${{ needs.version.outputs.version }}
      app-path: apps/${{ github.repository }}
      aws_ssm_parameter_gh_pat: /arca/github-deploy-apps/token
      aws_ssm_parameter_gh_pat_region: us-east-1
      aws_role_to_assume: arn:aws:iam::545888714756:role/${{ github.repository_id }}-github-role

  open_pr:
    runs-on: ubuntu-latest
    needs: release
    if: github.ref == 'refs/heads/next'
    steps:
      - name: Check if PR already exists
        id: check_pr
        