name: Deploy Reusable Workflows

on:
  workflow_call:
    inputs:
      deployments_names:
        description: 'Comma-separated list of deployment workflow names to run. If empty, all reusable workflows will be run.'
        required: false
        default: ''

jobs:
  version:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-release.yml@main
    permissions:
      contents: write      # to be able to publish a GitHub release
      issues: write        # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write      # to enable use of OIDC for trusted publishing and npm provenance
    secrets: inherit
    with:
      create-branch: true
      release-config-content: |
        {
          "branches": [
            {"name": "main"},
            {"name": "next", "channel": "@next", "prerelease": true}
          ],
          "tagFormat": "v${version}",
          "plugins": [
            ["@semantic-release/commit-analyzer", {"preset": "conventionalcommits"}],
            ["@semantic-release/exec", {"prepareCmd": "echo ${nextRelease.version} >> version.txt"}],
            "@semantic-release/release-notes-generator",
            "@semantic-release/git",
            "@semantic-release/github"
          ]
        }

  prepare:
    runs-on: ubuntu-latest
    outputs:
      repository_lowercase: ${{ steps.repo_lowercase.outputs.repository_lowercase }}
      matrix: ${{ steps.set_matrix.outputs.matrix }}
    steps:
      - name: Set repository name to lowercase
        id: repo_lowercase
        run: echo "repository_lowercase=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

      - name: Build deployment matrix
        id: set_matrix
        env:
          DEPLOY_NAMES: ${{ inputs.deployments_names }}
        run: |
          if [[ -z "$DEPLOY_NAMES" ]]; then
            echo 'matrix={"suffix":[""]}' >> $GITHUB_OUTPUT
          else
            SUFFIXES=$(echo "$DEPLOY_NAMES" | tr ',' '\n' | sed 's/^/-/' | jq -Rsc '[splits("\n") | select(. != "")]')
            echo "matrix={\"suffix\":$SUFFIXES}" >> $GITHUB_OUTPUT
          fi

  build:
    needs: [version, prepare]
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-docker-build.yml@main
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      metadata_tags: |
        type=raw,value=${{ needs.version.outputs.version }}

  release:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-commit-app.yml@main
    needs: [build, version, prepare]
    if: github.ref == 'refs/heads/main' && inputs.release_step_enabled == true
    permissions:
      contents: write
      id-token: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}
    with:
      repository: Invasor-de-Fronteiras/kelbi-applications
      app-content: |
        {"app":{"image":"ghcr.io/${{ needs.prepare.outputs.repository_lowercase }}:${{ needs.version.outputs.version }}"}}
      app-path: apps/${{ github.repository }}${{ matrix.suffix }}
      app-filename: values
      app-file-extension: yaml
      aws_ssm_parameter_gh_pat: /arca/github-deploy-apps/token
      aws_ssm_parameter_gh_pat_region: us-east-1
      aws_role_to_assume: arn:aws:iam::545888714756:role/${{ github.repository_id }}-github-role
