name: Deploy Reusable Workflows
on:
  workflow_call:

jobs:
  create_release_branch:
    name: Create release branch
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Create branch
        if: ${{ inputs.create-branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ inputs.branch-name }}
          BRANCH_TO: ${{ inputs.branch-to }}
        run: |
          set -e

          echo "Creating $BRANCH_NAME branch from $BRANCH_TO"
          git checkout $BRANCH_TO
          git switch $BRANCH_NAME 2>/dev/null || git switch -c $BRANCH_NAME
          git push origin $BRANCH_NAME
          git switch $BRANCH_TO

  version:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-release.yml@main
    needs: create_release_branch
    with:
      release-config-content: |
        {
          "branches": [
            {name: 'release', "prerelease": false},
            {name: 'master', "channel": "next", prerelease: true},
            {name: 'main', "channel": "next", prerelease: true}
          ],
          "tagFormat": "${{ matrix.workflow }}-v${version}",
          "plugins": [
            ["@semantic-release/commit-analyzer", {"preset": "conventionalcommits"}],
            "@semantic-release/release-notes-generator",
            "@semantic-release/changelog",
            "@semantic-release/github",
            "@semantic-release/git",
          ],
        }

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    secrets: inherit

  build:
    needs: version
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-docker-build.yml@reusable-docker-build-v1
    permissions:
      contents: write
      packages: write
      id-token: write
    secrets: inherit
  release:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-commit-app.yml@main
    needs: build
    permissions:
      contents: write
      id-token: write
    with:
      repository: Invasor-de-Fronteiras/kelbi-applications
      app-content: |
        version: ${{ github.sha }}
      app-path: applications/${{ github.repository }}
      aws_ssm_parameter_gh_pat: /arca/github-deploy-apps/token
      aws_ssm_parameter_gh_pat_region: us-east-1
      aws_role_to_assume: arn:aws:iam::545888714756:role/${{ github.repository_id }}-github-role